---
import projectData from '@/data/project.ts';
const { siteUrl, siteName, siteDescription } = projectData;

const title = (Astro.props.title && `${Astro.props.title} | `) + siteName;
const description = Astro.props.description || siteDescription;
const url = Astro.url || siteUrl;
const ogImgUrl = siteUrl + 'og.png';
const thumbnailUrl = null; // ex: siteUrl + '/thumbnail.png';
const googleFont =
  'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap';
const isSetSafeArea = false; // スマホのセーフエリアを考慮する場合はtrueにする
const baseUrl = import.meta.env.BASE_URL;
---

<meta charset="utf-8" />
{
  isSetSafeArea ? (
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  ) : (
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  )
}
<base href={baseUrl} />

<link rel="icon" href=`${baseUrl}favicon.svg` type="image/svg+xml" />
<link rel="icon alternate" href=`${baseUrl}favicon.png` type="image/png" />
<link rel="apple-touch-icon" href=`${baseUrl}apple-touch-icon.png` />

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={url} />
<meta property="og:image" content={ogImgUrl} />
<meta property="og:site_name" content={title} />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:url" content={url} />
<meta name="twitter:image" content={ogImgUrl} />

{thumbnailUrl && <meta name="thumbnail" content="{thumbnailUrl}" />}
{
  googleFont && (
    <>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href={googleFont} rel="stylesheet" />
    </>
  )
}
